NEXT_PUBLIC_CHAIN_ID=

NEXT_PUBLIC_PIMLINCO_APY_KEY=

NEXT_PUBLIC_WEB3AUTH_CLIENT_ID=

NEXT_PUBLIC_AUTH0_CLIENT_ID=
NEXT_PUBLIC_AUTH0_DOMAIN=

NEXT_PUBLIC_VERIFIER_NAME=
NEXT_PUBLIC_WALLET_KEY=
NEXT_PUBLIC_WALLET_ADDRESS=
NEXT_PUBLIC_RPC_URL=
NEXT_PUBLIC_RPC_URL_ETHEREUM=
NEXT_PUBLIC_DEV_PORTAL_KEY=
NEXT_PUBLIC_PRIVATE_KEY=

NEXT_PUBLIC_WORLD_APP_ID=